.details {
    text-align: left;
  }
  .link-tag{
    text-decoration: none;
    color: black;
  }
  .movie-title{
      font-size: 3rem;
  }
  .leftDetails {
    width: 20%;
    text-align: center;
  
  }
  .leftDetails>img, .roundShadow{
      border-radius: 0.5em;
      box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  }
  .middleDetails {
    width: 60%;
  }
  
  .rightDetails {
    width: 20%;
  }
  
  .marginTop16 {
    margin-top: 16px;
  }
  
  .centerAlign {
    text-align: center;
  }
  
  .marginBottom16 {
    margin-bottom: 16px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .yellow {
    color: yellow;
    cursor: pointer;
  }
  
  .black {
    color: none;
    cursor: pointer;
  }
  
  .trailerContainer {
    margin: 16px 0px 16px 0px !important;
  }
  
  .gridTile {
    cursor: pointer;
  }
  
  .back {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
    cursor: pointer;
  }
  
  .flex-containerDetails {
    display: flex; margin-top: 6vh;
    justify-content: center;
    
  }
  
  .flex-containerDetails>div {
    margin: 0px 16px;
  }
  
  iframe {
    width: 100% !important;
  }
  
  @media (max-width: 992px) {
    .leftDetails {
      width: 100%;
      text-align: center;
    }
    .middleDetails {
      width: 90%;
      padding: 1rem;
    }
    .rightDetails {
      width: 90%;
      padding: 1rem;
    }
    .flex-containerDetails {
      flex-direction: column;
    }
    .flex-containerDetails>div {
        margin: 0px 0px;
       
      }
    .paddingRight {
      margin-right: 32px;
    }
  }